@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lili";
  src: url("./assets/font/LilitaOne-Regular.ttf");
}

body {
  font-family: "lili";
  background-color: rgb(6, 31, 49);
}


.backgrop-bg-filter {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(4px);
}

.home-bg {
  background-image: url("/public/media/bg_banner.jpg");
}